<template>
  <section class="au-animate col-md-offset-2 col-md-8" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-toolbar">
          <button title="New" class="btn btn-xs btn-default" data-ng-click="addNew()">
            <i class="fa fa-asterisk" aria-hidden="true"></i>
          </button>
          <button title="Copy" class="btn btn-xs btn-default" data-ng-click="addNew()">
            <i class="fa fa-files-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <table class="table">
        <tbody>
          <tr repeat.for="h of historyRoutes" class="${h.hasRouteClass}">
            <td>
              <i class="fa fa-${h.icon} fa-fw" aria-hidden="true"></i>
              <a href.bind="h.url">&nbsp; ${h.name}</a>
            </td>
            <td class="text-muted">
              ${h.comment}
            </td>
            <td class="text-muted">
              ${h.revisedDays} days ago
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>
